<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="buttons">
  <button class="dupe">Duplicate!! Create army of Toph!</button>
  <button class="changecolor">Change Color</button>
  <button class="newtitle">New Title</button>
  <button class="delete">Delete</button>
  <button data-toggle-btn>Toggle Button</button>
</div>
<div class="wrapper">
  <div class="container">
    <img class="image" src="https://i.kym-cdn.com/entries/icons/mobile/000/043/203/tophercover.jpg" />

    <div class="header">
      <h3>Toph</h3>
      <h4>God king of the Universe</h4>
    </div>
    <details class="details">
      <summary>Stats</summary>
      <div>
        <ul>
          <li>killed god and took his place</li>
          <li>lalala text coding is fun</li>
        </ul>
      </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>


<router-outlet></router-outlet>
